.field_text{
  width: 85% !important;
  min-height: 30px !important;
  height: 40px !important;
}
.oe_form header{
    height: 55px;
}
.openerp ul.oe_form_status li > .arrow, .openerp ul.oe_form_status_clickable li > .arrow{
    margin-top: -10px;
}
.openerp .oe_application .oe_form header .oe_button{
    float: right;
}
